<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NBLspinner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>30BA27071FDD7C09007444D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30BA271E1FDD7C09007444D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>30BA27291FDD7C09007444D2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
